<div id="<%= dom_id musica %>">
  <p>
    <strong>Titulo:</strong>
    <%= musica.titulo %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= musica.duracao %>
  </p>

  <p>
    <strong>Data lancamento:</strong>
    <%= musica.data_lancamento %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= musica.genero %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= musica.album_id %>
  </p>

</div>
