<div id="<%= dom_id musica %>">
  <p>
    <strong>Título:</strong>
    <%= musica.titulo %>
  </p>

  <p>
    <strong>Duração:</strong>
    <%= musica.duracao.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Data de lançamento:</strong>
    <%= musica.data_lancamento.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= musica.genero %>
  </p>

  <p>
    <strong>Álbum:</strong>
    <%= musica.album_id %>
  </p>

</div>
