<p style="color: green"><%= notice %></p>

<%= render @musica %>

<div>
  <%= link_to "Editar esta música", edit_musica_path(@musica) %> |
  <%= link_to "Voltar para músicas", musicas_path %>

  <%= button_to "Excluir esta música", @musica, method: :delete %>
</div>
