<p style="color: green"><%= notice %></p>
<h2>Informações do Artista:</h2>
<%= render @artistum %>

<% if @artistum.integrantes.any? %>
  <h3>Integrantes</h3>
  <%= render @artistum.integrantes %>
<% end %>

<% if @artistum.albums.any? %>
  <h3>Albuns</h3>
  <%= render @artistum.albums %>
<% end %>

<div>
  <%= link_to "Editar este artista", edit_artistum_path(@artistum) %> |
  <%= link_to "Voltar para artistas", artista_path %>

  <%= button_to "Excluir este artista", @artistum, method: :delete %>
</div>
