<div id="<%= dom_id integrante %>">
  <p>
    <strong>Nome:</strong>
    <%= integrante.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= integrante.cpf %>
  </p>

  <p>
    <strong>Função:</strong>
    <%= integrante.funcao %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= integrante.artista_id %>
  </p>

</div>
