<p style="color: green"><%= notice %></p>

<%= render @integrante %>

<div>
  <%= link_to "Edit this integrante", edit_integrante_path(@integrante) %> |
  <%= link_to "Back to integrantes", integrantes_path %>

  <%= button_to "Destroy this integrante", @integrante, method: :delete %>
</div>
