<p style="color: green"><%= notice %></p>

<%= render @integrante %>

<div>
  <%= link_to "Editar este integrante", edit_integrante_path(@integrante) %> |
  <%= link_to "Voltar para integrantes", integrantes_path %>

  <%= button_to "Excluir este integrante", @integrante, method: :delete %>
</div>
