<h1>GRAVADORA - CADASTROS</h1> |
<%= link_to "Funcionarios", funcionarios_path %> |
<%= link_to "Contratos", contratos_path %> |
<%= link_to "Artistas", artista_path %> |
<%= link_to "Albuns", albums_path %> |
<%= link_to "Músicas", musicas_path %> |

<h1>GRAVADORA - TOP 5 MAIORES CONTRATOS</h1>
<%= link_to "Top 5 Maiores Contratos", top5_funcionarios_path, class: "btn btn-primary" %>

<h1>GRAVADORA - BUSCAS</h1>

<h3>Buscar artista por ID</h3>
<p><b>Lógica da busca no PostgreSQL:</b> <i>SELECT * FROM artista WHERE id = artista_id;</i></p>

<%= form_with url: buscar_por_id_artista_path, method: :get do |form| %>
  <%= form.collection_select :artista_id, Artistum.all, :id, :nome_com_id, { prompt: 'Selecione um Artista' }, class: 'form-control' %>
  <%= form.submit "Buscar Artista" %>
<% end %>

<h3>Buscar Albuns pelo ID do artista</h3>
<p><b>Lógica da busca no PostgreSQL:</b> <i>SELECT * FROM albums WHERE artista_id = artista_id;</i></p>

<%= form_with url: buscar_albuns_pelo_artista_artista_path, method: :get do |form| %>
  <%= form.collection_select :artista_id, Artistum.all, :id, :nome_com_id, { prompt: 'Selecione um Artista' }, class: 'form-control' %>
  <%= form.submit "Buscar Albuns" %>
<% end %>

<h3>Buscar Contrato por ID</h3>
<p><b>Lógica de busca no PostgreSql:</b> <i> Select * FROM  contrato_id = contrato_id;</i></p>

<%= form_with url: buscar_por_id_contratos_path, method: :get do |form| %>
  <%= form.collection_select :contrato_id, Contrato.all, :id, :nome_com_id, { prompt: 'Selecione um Contrato' }, class: 'form-control' %>
  <%= form.submit "Buscar Contrato" %>
<% end %>

<h3>Buscar Álbuns por ID</h3>
<p><b>Lógica de busca no PostgreSql:</b> <i> Select * FROM  album_id = album_id;</i></p>

<%= form_with url: buscar_por_id_albums_path, method: :get do |form| %>
  <%= form.collection_select :album_id, Album.all, :id, :nome_com_id, { prompt: 'Selecione um Álbum' }, class: 'form-control' %>
  <%= form.submit "Buscar Álbum" %>
<% end %>

<h3>Buscar Contratos por Funcionário</h3>
<p><b>Lógica da busca no PostgreSQL:</b> <i>SELECT * FROM contratos WHERE funcionario_id = funcionario_id;</i></p>
<%= form_with url: contratos_por_funcionario_funcionarios_path, method: :get do |form| %>
  <%= form.collection_select :funcionario_id, Funcionario.all, :id, :nome, { prompt: 'Selecione um Funcionário' }, class: 'form-control' %>
  <%= form.submit "Buscar Contratos", class: "btn btn-primary" %>
<% end %>
