<div id="<%= dom_id contrato %>">
  <p>
    <strong>Data inicio:</strong>
    <%= contrato.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= contrato.data_fim %>
  </p>

  <p>
    <strong>Clausulas:</strong>
    <%= contrato.clausulas %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contrato.valor %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= contrato.artista_id %>
  </p>

</div>
