<%= form_with(model: contrato) do |form| %>
  <% if contrato.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
        <% contrato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data_inicio, style: "display: block" %>
    <%= form.date_field :data_inicio %>
  </div>

  <div>
    <%= form.label :data_fim, style: "display: block" %>
    <%= form.date_field :data_fim %>
  </div>

  <div>
    <%= form.label :clausulas, style: "display: block" %>
    <%= form.text_area :clausulas %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :artista_id, style: "display: block" %>
    <%= form.collection_select :artista_id, Artistum.all, :id, :nome_artistico, { prompt: 'Selecione um Artista' }, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
