<p style="color: green"><%= notice %></p>

<%= render @contrato %>

<div>
  <%= link_to "Editar este contrato", edit_contrato_path(@contrato) %> |
  <%= link_to "Voltar para contratos", contratos_path %>

  <%= button_to "Excluir este contrato", @contrato, method: :delete %>
</div>
