<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
  <%= link_to "Edit this funcionario", edit_funcionario_path(@funcionario) %> |
  <%= link_to "Back to funcionarios", funcionarios_path %> |
  <%= link_to "Atribuições do Funcionário", atuacao_funcionario_path %> |
  <%= link_to "Ver Contratos", contratos_por_funcionario_funcionario_path(@funcionario), class: "btn btn-primary" %>

  <%= button_to "Destroy this funcionario", @funcionario, method: :delete %>
</div>
